<!DOCTYPE html>
<html>
	<head>
		<title>Welcome</title>
		<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
		<script src="http://cdn.bootcss.com/blueimp-md5/2.6.0/js/md5.min.js"></script>
		<script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/style.css">
		<script type="text/javascript" src="__PUBLIC__/js/welcome.js"></script>
	</head>
	<body>
		<div id="container" class="container">
			<h1 id="welcome"><if condition="isset($name)">Welcome,{$name}</h1><button id="logout" class="btn btn-primary btn-block" style="margin-top: 2em">Log out</button><else/><a href='index'>Sorry,please login first</a></h1>
			</if>
		</div>
	</body>
</html>